kanji0 BITMAP "pics\\ichi,itsu_hito(tsu).bmp"
kanji1 BITMAP "pics\\ni_futa(tsu).bmp"                    
kanji2 BITMAP "pics\\san_mu(tsu).bmp"                     
kanji3 BITMAP "pics\\shi_yon,yo(tsu).bmp"                 
kanji4 BITMAP "pics\\go_itsu(tsu).bmp"                    
kanji5 BITMAP "pics\\roku_mut(tsu).bmp"                   
kanji6 BITMAP "pics\\shichi_nana(tsu).bmp"                
kanji7 BITMAP "pics\\hachi_yat(tsu).bmp"                  
kanji8 BITMAP "pics\\kyu,ku_kokono(tsu).bmp"              
kanji9 BITMAP "pics\\ju-_to-.bmp"                         
kanji10 BITMAP "pics\\hyaku_momo.bmp"                      
kanji11 BITMAP "pics\\sen_chi.bmp"                         
kanji12 BITMAP "pics\\man,ban_---.bmp"                    
kanji13 BITMAP "pics\\jin,nin_hito.bmp"
kanji14 BITMAP "pics\\ken_mi(ru).bmp"                      
kanji15 BITMAP "pics\\shushi_de(ru),da(su).bmp"            
kanji16 BITMAP "pics\\nichi,jitsu_hi,(ka).bmp"             
kanji17 BITMAP "pics\\rai_ku(ru).bmp"                      
kanji18 BITMAP "pics\\ji_ko.bmp"                           
kanji19 BITMAP "pics\\dai,tai_oo(kii).bmp"                 
kanji20 BITMAP "pics\\jo_ue,a(geru),noba(ru).bmp"          
kanji21 BITMAP "pics\\bun,fun_wa(karu).bmp"                
kanji22 BITMAP "pics\\chu-_naka.bmp"                       
kanji23 BITMAP "pics\\ko-,gyo-_i(ku),yu(ku),okona(u).bmp"  
kanji24 BITMAP "pics\\ji_toki.bmp"                         
kanji25 BITMAP "pics\\ka_nani,nan.bmp"                     
kanji26 BITMAP "pics\\sei,sho-_i(kiru),u(mareru).bmp"      
kanji27 BITMAP "pics\\kan_aida,ma.bmp"                     
kanji28 BITMAP "pics\\gen_i(u).bmp"                        
kanji29 BITMAP "pics\\shu_te.bmp"                          
kanji30 BITMAP "pics\\jo_onna.bmp"                         
kanji31 BITMAP "pics\\ki_---.bmp"                          
kanji32 BITMAP "pics\\hon_moto.bmp"                        
kanji33 BITMAP "pics\\nen_toshi.bmp"                       
kanji34 BITMAP "pics\\zen_mae.bmp"                         
kanji35 BITMAP "pics\\kon_ima.bmp"                         
kanji36 BITMAP "pics\\ka,ge_shita,kuda(saru).bmp"          
kanji37 BITMAP "pics\\ritsu_ta(tsu).bmp"                   
kanji38 BITMAP "pics\\sho-_chii(sai).bmp"                  
kanji39 BITMAP "pics\\nyu-_hai(ru),i(ru).bmp"              
kanji40 BITMAP "pics\\getsu,gatsu_tsuki.bmp"               
kanji41 BITMAP "pics\\moku_me.bmp"                         
kanji42 BITMAP "pics\\gaku_mana(bu).bmp"                   
kanji43 BITMAP "pics\\sho_ka(ku).bmp"                      
kanji44 BITMAP "pics\\go,ko-_ushi(ro),ato.bmp"             
kanji45 BITMAP "pics\\san_yama.bmp"                        
kanji46 BITMAP "pics\\wa_hanashi,hana(su).bmp"             
kanji47 BITMAP "pics\\sen_saki.bmp"                        
kanji48 BITMAP "pics\\sho-_suku(nai),suko(shi).bmp"        
kanji49 BITMAP "pics\\cho-_naga(i).bmp"                    
kanji50 BITMAP "pics\\bun_ki(ku).bmp"                      
kanji51 BITMAP "pics\\sui_mizu.bmp"                        
kanji52 BITMAP "pics\\ko-_kuchi.bmp"                       
kanji53 BITMAP "pics\\ku-_sora,kara,a(ku).bmp"             
kanji54 BITMAP "pics\\mei,myo-_na.bmp"                     
kanji55 BITMAP "pics\\kai_a(u).bmp"                        
kanji56 BITMAP "pics\\dan,nan_otoko.bmp"                   
kanji57 BITMAP "pics\\haku_shiro.bmp"                      
kanji58 BITMAP "pics\\gai_soto,moka,hazu(su).bmp"          
kanji59 BITMAP "pics\\do-_michi.bmp"                       
kanji60 BITMAP "pics\\koku_kuni.bmp"                       
kanji61 BITMAP "pics\\shin_atara(shii).bmp"                
kanji62 BITMAP "pics\\moku,boku_ki.bmp"                    
kanji63 BITMAP "pics\\ta_oo(i).bmp"                        
kanji64 BITMAP "pics\\soku_ashi,ta(riru).bmp"              
kanji65 BITMAP "pics\\kin_kane.bmp"                        
kanji66 BITMAP "pics\\ko-_taka(i).bmp"                     
kanji67 BITMAP "pics\\bo_haha.bmp"                         
kanji68 BITMAP "pics\\ten_ame.bmp"                         
kanji69 BITMAP "pics\\fu_chichi.bmp"                       
kanji70 BITMAP "pics\\shoku_ta(beru),ku(u).bmp"            
kanji71 BITMAP "pics\\sen_kawa.bmp"                        
kanji72 BITMAP "pics\\go_kata(ru).bmp"                     
kanji73 BITMAP "pics\\sha_yashiro.bmp"                     
kanji74 BITMAP "pics\\ko-_---.bmp"                         
kanji75 BITMAP "pics\\ka_hana.bmp"                         
kanji76 BITMAP "pics\\sha_kuruma.bmp"                      
kanji77 BITMAP "pics\\ko_furu(i).bmp"                      
kanji78 BITMAP "pics\\ka_hi.bmp"                           
kanji79 BITMAP "pics\\do_tsuchi.bmp"                       
kanji80 BITMAP "pics\\to-_higashi.bmp"                     
kanji81 BITMAP "pics\\an_yasu(i).bmp"                      
kanji82 BITMAP "pics\\han_naka(ba).bmp"                    
kanji83 BITMAP "pics\\doku_yo(mu).bmp"                     
kanji84 BITMAP "pics\\u_migi.bmp"                          
kanji85 BITMAP "pics\\sa_hidari.bmp"                       
kanji86 BITMAP "pics\\sei_nishi.bmp"                       
kanji87 BITMAP "pics\\yu-_tomo.bmp"                        
kanji88 BITMAP "pics\\den_---.bmp"                         
kanji89 BITMAP "pics\\ten_mise.bmp"                        
kanji90 BITMAP "pics\\u_ame.bmp"                           
kanji91 BITMAP "pics\\hoku_kita.bmp"                       
kanji92 BITMAP "pics\\bai_ka(u).bmp"                       
kanji93 BITMAP "pics\\ji_mimi.bmp"                         
kanji94 BITMAP "pics\\nan_minami.bmp"                      
kanji95 BITMAP "pics\\en_maru.bmp"                         
kanji96 BITMAP "pics\\mai_---.bmp"                         
kanji97 BITMAP "pics\\in_no(mu).bmp"                       
kanji98 BITMAP "pics\\kyu-_yasu(mu).bmp"                   
kanji99 BITMAP "pics\\go_---.bmp"                          
kanji100 BITMAP "pics\\eki_---.bmp"                         
kanji101 BITMAP "pics\\shu-_---.bmp"                        
kanji102 BITMAP "pics\\kyo_sakana.bmp"                      
script RCData "KANJIS.scr"